[phases.setup]
nixPkgs = ["python311", "nodejs"]

[phases.install]
cmds = [
  "npm ci",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "gunicorn server:app"
